.pri-color {
    color: #3A3A3A;
}

.pri-btn {
    border-radius: 41px;
    background: #E02C6D;
    border: 0;
    padding: 10px 24px;
    color: #FFF;
    font-size: 16px;
    display: flex;
    gap: 9px;
    justify-content: center;
}

.sec-color {
    color: var(--Gray-50, #787885);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    width: 196px;
    letter-spacing: 0.252px;
}

/* header */
.header-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
}

.header-two>ul {
    display: flex;
    list-style: none;
}

.header-two li>a {
    text-decoration: none;
    margin-right: 34px;
}

/* banner */
.banner {
    display: flex;
    margin: 50px 50px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.banner-content>p {
    width: 450px;
}

.banner-img>img {
    border-radius: 475px;
    border: 5px solid var(--Brand-Purple-100, #F1E4FF);
}

/* sponsor */
.sponsor {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 150px;
}

/* products */
.products-container{
    justify-content: center;
    margin: 0 180px;
}
.product-title{
    justify-content: center;
    
}
.products-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    
}

.product {
    border-radius: 5px;
    background: #FFF;
    margin: 30px;
    padding: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
/* features */
.features{
    margin: 50px 150px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.feature-img{
    margin-right: 90px;
}
.features-content>p{
    width: 501px;
}
.features-content > button{
    border-radius: 0;
}
/* footer */
footer{
    background-color: #0A0826;
}
.footer-content{
    color: #FFF;
    padding: 50px auto;
}


/* media query */
@media screen and (max-width:576px) {

    .header-container,
    .banner,
    .sponsor,
    .products-item,
    .features{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .header-two>ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .banner,
    .features {
        flex-direction: column-reverse;
    }

    .banner-content{
        display: grid;
        justify-content: center;
    }

    .sponsor {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
    .products-item{
        grid-template-columns: repeat(1,1fr);
    }
    .features-content{
        margin:0px auto;
    }
    .feature-img{
        margin: 0 auto;
    }
    
}